@import url(./root.css);

.navLinks:hover {
  color: var(--orange);
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.menu span {
  width: 26px;
  height: 2px;
  margin-top: 7px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.span4 {
  border-radius: 15px;
  height: 2.4px !important;
  transform: rotate(45deg) !important;
  transition: 0.4s;
  width: 24px !important;
  background: var(--orange) !important;
  position: relative;
  top: 11px;
  right: -12px;
}
.span5 {
  height: 2.4px !important;
  transform: rotate(-45deg) !important;
  position: relative;
  top: 1.5px;
  right: -12px;
  background: var(--orange) !important;
  transition: 0.4s;
  width: 24px !important;
  border-radius: 15px;
}
.span6 {
  display: none !important;
  transition: 0.4s;
}
.slider-card:hover {
  border: 1px solid rgba(243, 106, 62, 0.4);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.headerSlider .slick-track{
  margin: 0;
}
.headerSlider .slick-slide {
  margin-right: 8px;
}

.headerSlider .slick-dots {
  bottom: -40px;
}
.headerSlider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--orange);
}
.headerSlider .slick-dots li {
  width: 30px;
}
.headerSlider .slick-dots li button:before {
  height: 11px;
  width: 31px;
  background-color: var(--orange);
  position: absolute;
  left: 50%;
  border-radius: 34px;
  font-size: 0;
}
.underLine::after {
  display: flex;
  width: 100%;
  height: 11px;
  background: linear-gradient(219deg, #ffa78a 0%, #ff7a34 100%);
}
.circleSvg {
  width: 20.001px;
  height: 19.999px;
  transform: rotate(-58.281deg);
  flex-shrink: 0;
}
.logo {
  width: 130px;
  height: 82.837px;
}
.ellipse1 {
  width: 278px;
  height: 66px;
  border-radius: 326px;
  background: var(--orange, #f36a3e);
  filter: blur(120.5px);
}
.cubeImg {
  width: 28.511px;
  height: 43px;
  transform: rotate(-42.949deg);
}
.circleHalf {
  width: 40px;
  height: 27.388px;
  transform: rotate(-44.437deg);
}

.ellipseCircle {
  width: 170px;
  height: 143px;
  border-radius: 26px;
  background: var(--orange, #f36a3e);
  filter: blur(120.5px);
}

.svgFill a:hover svg path {
  fill: url(#grad1);
}
.mobileView {
  background-image: url(/public/assets/images/logo2nd.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
}
@keyframes rotate {
  50% {
    opacity: 0.8;
    transform: rotate(120deg);
  }
}
.animate-rotate {
  animation: rotate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@media (min-width: 640px) {
  .mobileView {
    background-image: unset;
  }
  .circleSvg {
    width: 42px;
    height: 42px;
  }
  .cleanImg {
    width: 122.689px;
    height: 134.537px;
  }
  .ellipse1 {
    width: 626px;
    height: 115px;
  }
  .cubeImg {
    width: 28.511px;
    height: 43px;
    transform: rotate(0);
  }
  .circleHalf {
    width: 60.924px;
    height: 41.714px;
    transform: rotate(-19.684deg);
  }
  .doubleCircle {
    width: 84.808px;
    height: 105px;
  }
}
@media (min-width: 768px) {
  .mobileView {
    background-image: unset;
  }
}
@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .circleSvg {
    width: 64px;
    height: 63.944px;
  }
  .logo {
    width: 156.969px;
    height: 100.022px;
  }
  .cleanImg {
    width: 183.572px;
    height: 201.299px;
  }
  .cubeImg {
    width: 61px;
    height: 92px;
    transform: rotate(0);
  }
  .circleHalf {
    width: 76px;
    height: 52.036px;
    transform: rotate(0);
  }
  .doubleCircle {
    width: 68px;
    height: 84px; 
  }
}
@media (max-width: 1024px) {
  .mobileView {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.3s linear;
    background-color: var(--white);
    z-index: 10 !important;
  }
  .mobileView.show {
    right: 0;
  }
  .menu {
    z-index: 10 !important;
  }
}
