@import url(./root.css);
html {
  scroll-behavior: smooth;
}
.navLinks:hover {
  color: var(--orange);
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.menu span {
  width: 26px;
  height: 2px;
  margin-top: 7px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.span4 {
  border-radius: 15px;
  height: 2.4px !important;
  transform: rotate(45deg) !important;
  transition: 0.4s;
  width: 24px !important;
  background: var(--orange) !important;
  position: relative;
  top: 3px;
  right: 5px;
}
.span5 {
  height: 2.4px !important;
  transform: rotate(-45deg) !important;
  position: relative;
  top: -6.5px;
  right: 5px;
  background: var(--orange) !important;
  transition: 0.4s;
  width: 24px !important;
  border-radius: 15px;
}
.span6 {
  display: none !important;
  transition: 0.4s;
}
.Btn {
  border: 1px solid var(--orange);
  transition: 0.3s;
}
.Btn:hover {
  color: var(--orange);
  border: 1px solid var(--orange);
  background: transparent;
}
.slider-card {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
}
.slider-card:hover {
  border: 1px solid rgba(243, 106, 62, 0.4);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.headerSlider .slick-track {
  margin: 0;
}
.headerSlider .slick-slide {
  margin-right: 8px;
}

.headerSlider .slick-dots {
  bottom: -40px;
}
.headerSlider .slick-dots li.slick-active {
  width: 23px !important;
  height: 6px !important;
  border-radius: 6px !important;
  background: var(--orange) !important;
}
.headerSlider .slick-dots li {
  background: #E6E5E5 !important;
  width: 16px !important;
  border-radius: 6px !important;
  height: 5px !important;
  margin-top: 40px;
}
.headerSlider .slick-dots li button {
  content: unset !important;
}
.headerSlider .slick-dots li button:before {
  content: unset !important;
}
.mobileViewSlider .slick-dots li.slick-active {
  width: 23px !important;
  height: 6px !important;
  border-radius: 6px !important;
  background: var(--orange) !important;
}
.mobileViewSlider .slick-dots li {
  background: #E6E5E5 !important;
  width: 16px !important;
  border-radius: 6px !important;
  height: 5px !important;
  margin-top: 40px;
}
.mobileViewSlider .slick-dots li button {
  content: unset !important;
}
.mobileViewSlider .slick-dots li button:before {
  content: unset !important;
}
.underLine::after {
  display: flex;
  width: 100%;
  height: 11px;
  background: linear-gradient(219deg, #ffa78a 0%, #ff7a34 100%);
}
.circleSvg {
  width: 20.001px;
  height: 19.999px;
  transform: rotate(-58.281deg);
  flex-shrink: 0;
}
.logo {
  width: 130px;
  height: 82.837px;
}
.ellipse1 {
  width: 278px;
  height: 66px;
  border-radius: 326px;
  background: var(--orange, #f36a3e);
  filter: blur(120.5px);
}
.cubeImg {
  width: 28.511px;
  height: 43px;
  transform: rotate(-42.949deg);
}
.circleHalf {
  width: 40px;
  height: 27.388px;
  transform: rotate(-44.437deg);
}
.mobileViewSlider .slick-slide {
  margin-left: 10px;
  margin-right: 15px;
}
.ellipseCircle {
  width: 170px;
  height: 143px;
  border-radius: 26px;
  background: var(--orange, #f36a3e);
  filter: blur(120.5px);
}
.sliderBtn:hover svg path {
  fill: var(--white);
}
.sliderBtn:hover {
  background: var(--orange);
}
.mobileView {
  background-image: url(/public/assets/images/logo2nd.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
}
.svgFill a:hover span svg path {
  fill: var(--orange);
}
@keyframes bounceOnse {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounceOnse {
  animation: bounceOnse 1s;
}

@media (min-width: 640px) {
  .mobileView {
    background-image: unset;
  }
  .circleSvg {
    width: 42px;
    height: 42px;
  }
  .cleanImg {
    width: 122.689px;
    height: 134.537px;
  }
  .ellipse1 {
    width: 626px;
    height: 115px;
  }
  .cubeImg {
    width: 28.511px;
    height: 43px;
    transform: rotate(0);
  }
  .circleHalf {
    width: 60.924px;
    height: 41.714px;
    transform: rotate(-19.684deg);
  }
  .doubleCircle {
    width: 84.808px;
    height: 105px;
  }
  .animate-shakeRight {
    animation: shakeRight 5s infinite;
  }
  @keyframes shakeRight {
    0% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(-30deg);
    }
  }
  .animate-shakeLeft {
    animation: shakeLeft 5s infinite;
  }
  @keyframes shakeLeft {
    0% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  .animate-shakeup {
    animation: shakeUp 3s infinite;
  }
  @keyframes shakeUp {
    0% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  .animate-rotate {
    animation: rotate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes rotate {
    50% {
      opacity: 0.8;
      transform: rotate(120deg);
    }
  }
}
@media (min-width: 768px) {
  .mobileView {
    background-image: unset;
  }
}
@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .circleSvg {
    width: 64px;
    height: 63.944px;
  }
  .logo {
    width: 156.969px;
    height: 100.022px;
  }
  .cleanImg {
    width: 183.572px;
    height: 201.299px;
  }
  .cubeImg {
    width: 61px;
    height: 92px;
    transform: rotate(0);
  }
  .circleHalf {
    width: 76px;
    height: 52.036px;
    transform: rotate(0);
  }
  .doubleCircle {
    width: 68px;
    height: 84px;
  }
}
@media (max-width: 1024px) {
  .mobileView {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.3s linear;
    background-color: var(--white);
    z-index: 60 !important;
  }
  .mobileView.show {
    right: 0;
  }
  .menu {
    z-index: 60 !important;
  }
}
